# Investigaci√≥n Corta 1 
*Nota
## Tutorial de Pandas de las operaciones mas comunes en **Pre-Procesado**

### Importancia del Preprocesado
* Permite mejorar los resultados de los modelos aplicados en Proyectos de Machine Learning especialmente cuando estos datos deben de estar en una manera especifica. *Ejemplo:* Cuando algunos algoritmos no soportan algun estado especifico como *"null values"*
* Se busca que el preprocesado aplicado pueda ser util de una forma mas generalizada para otros algoritmos de Machine Learning.

### Iniciando con Pandas

Antes de Inciar con las operaciones mas comunes utilizadas en preprocesado es importante saber como cargar un *'Dataset'*

1. Es necesario buscar alguna fuente de informacion que desee utilizar, en este caso se utilizo se uso como referencia: 
https://github.com/MateLabs/Public-Datasets/blob/master/Datasets/iris.csv. El archivo .CSV se encuentra en el mismo directorio del ambiente de trabajo. En caso de utilizar otro path tener esto en consideracion para escribir la ruta en **pd.read_csv('path')**

2. Para verificar que esta cargando el archivo con extension CSV se utilizo **pf.head('Se especifica los datos que se desean mostrar')**

*Referencia:* 
https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

In [18]:
import pandas as pd
df = pd.read_csv('DataSet3.csv')
df.head(10)

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

Los *'DataSet'* tambien se pueden generar en forma de un Arreglo como lo muestra el ejemplo a continuacion:

In [19]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, ".", "."],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
df

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000
2       Tina         .   36           31            57
3       Jake    Milner   24            .            62
4        Amy     Cooze   73            .            70

El DataSet que se creo anteriormente fue tomado del link a continuacion con el fin de mostrar la organizacion de los datos para mostrar los datos en modo de una tabla tal y como se cargo de un CSV.
Ref. https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

### Operaciones mas comunes en Pre-Procesado